<div class="container">
	<footer>
		<hr>
		<span><a href="{{ url('homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a> |
            <a href="{{ url('fos_user_registration_register') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Register </a>
        </span>
		<span class="float-right"> &copy; demo mediapark 2017 </span>
	</footer>
</div>