{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<div class="container">

		<h4>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h4>


		<div class="registration-confirmed">
			<p>Now you can:</p>
				<a href="{{ url('add-new-advertisement') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add your first Ad</a>
				<span class="registration-confirmed-or">or</span>
				<a href="{{ url('homepage') }}" class="btn btn-secondary"><i class="fa fa-home" aria-hidden="true"></i> Check others Ads</a>
		</div>
	</div>
{% endblock fos_user_content %}
