{% trans_default_domain 'FOSUserBundle' %}

<div class="container text-left">

	<h1 class="offset-sm-2 col-sm-7">Registration</h1>

	{{ form_start(form, {
		'method': 'post',
		'action': path('fos_user_registration_register'),
		'attr': {'class': 'fos_user_registration_register'}}) }}

	<div class="form-group row">
		{{ form_label(form.email, null, { 'label_attr': {'class': 'col-sm-2'} }) }}
		<div class="col-sm-7">
			{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Your email' } }) }}
			{{ form_errors(form.email) }}
		</div>
	</div>

	<div class="form-group row">
		{{ form_label(form.username, null, { 'label_attr': {'class': 'col-sm-2'} }) }}
		<div class="col-sm-7">
			{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Your username' } }) }}
			{{ form_errors(form.username) }}
		</div>
	</div>

	<div class="form-group row">
		{{ form_label(form.plainPassword.first, null, { 'label_attr': {'class': 'col-sm-2'} }) }}
		<div class="col-sm-7">
			{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Your password' } }) }}
			{{ form_errors(form.plainPassword.first) }}
		</div>
	</div>
	<div class="form-group row">
		{{ form_label(form.plainPassword.second, null, { 'label_attr': {'class': 'col-sm-2'} }) }}
		<div class="col-sm-7">
			{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Please repeat password' } }) }}
			{{ form_errors(form.plainPassword.second) }}
		</div>
	</div>

	<div class="form-group row">
		<div class="offset-sm-2 col-sm-7">
			<input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}"/>
		</div>
	</div>

	{{ form_end(form) }}

</div>
