.ad-list-item {
    border: 3px solid #ece9e9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

.ad-list-item-date {
    color: #adadad;
    margin: 5px 0;
}

.user-ad-list-item-date {
    color: #adadad;
}

.user-ad-list-item {
    border: 3px solid #ece9e9;
    border-radius: 10px;
    padding: 10px 5px 0 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.user-ad-list-item.odd {
    background-color: #efefef !important;
}

.user-go-back-to-homepage {
    margin: 60px 0;
}


.navbar {
    margin-bottom: 2em;
}

.jumbotron {
    margin-top: -2em;
}

.registration-confirmed {
    padding: 50px;
}

.registration-confirmed-or {
    padding: 20px;
}

h1 {
    padding-bottom: 15px;
}

h4 {
    padding: 40px 0 20px 0;
}

.profile-user-info {
    color: #adadad;
}

footer {
    margin-top: 60px;
}