{% trans_default_domain 'FOSUserBundle' %}

<div class="container text-left">

	<h1 class="offset-sm-2 col-sm-7">Log In</h1>

	<form action="{{ path("fos_user_security_check") }}" method="post">

		{% if error %}
			<div class="alert alert-danger col-sm-9" role="alert">
				! {{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% if csrf_token %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
		{% endif %}

		<div class="form-group row">
			<label for="username" class="col-sm-2 col-form-label">{{ 'security.login.username'|trans }}</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username">
			</div>
		</div>

		<div class="form-group row">
			<label for="password" class="col-sm-2 col-form-label">{{ 'security.login.password'|trans }}</label>
			<div class="col-sm-7">
				<input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Password">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2">{{ 'security.login.remember_me'|trans }}</label>
			<div class="col-sm-7">
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on">
					</label>
				</div>
			</div>
		</div>


		<div class="form-group row">
			<div class="offset-sm-2 col-sm-7">
				<input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
				<a href="{{ path('fos_user_registration_register') }}" class="btn btn-danger">{{ 'layout.register'|trans }}</a>
			</div>
		</div>
	</form>


</div>