{% extends 'public/base.html.twig' %}

{% block body %}

	<div class="container">
		<div class="row">


			{#Notification about successful registration#}
			{% if app.request.hasPreviousSession %}
				{% for type, messages in app.session.flashBag.all %}
					{% for message in messages %}
						<div class="alert offset-lg-3 col-lg-6 alert-{{ type }}" role="alert">
							{{ message|trans({}, 'FOSUserBundle') }}
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}


			<div class="col-12 text-center">
				{% block fos_user_content %}
				{% endblock fos_user_content %}
			</div>

		</div>
	</div>

{% endblock %}