{% extends 'public/base.html.twig' %}

{% block body %}

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container text-center">

			<h1>Hello All!</h1>

			<p>Feel free to post your ads here for free.</p>

			<p><a class="btn btn-primary btn-lg" href="{{ url('add-new-advertisement') }}" role="button">Add Advertisement
					<i class="fa fa-plus" aria-hidden="true"></i></a>
			</p>

		</div>
	</div>

	<div class="container">
		<div class="row">

			{% for item in ads_data|reverse %}

				<div class="col-lg-4">
					<div class="ad-list-item">
						<h3>{{ item.title }}</h3>
						<p class="ad-list-item-date">
							<small>{{ item.datetime|date("Y-m-d H:i") }} by
								<i class="fa fa-user-o" aria-hidden="true"></i> ({{ item.username|capitalize }})</small>
						</p>
						<p>{{ item.description|nl2br }}</p>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>


{% endblock %}