{% extends 'public/base.html.twig' %}

{% block body %}


	<div class="container text-left">

		{% for message in app.flashes('notice') %}
			<div class="offset-sm-3 col-sm-6 alert alert-success">
				<strong>{{ message }}</strong>
			</div>

			<script>
                $(document).ready(function () {
                    $(".add-new-ad").hide();
                });
			</script>
			<div class="offset-sm-5 col-sm-8">
				<div class="form-group row">
					<a href="{{ url('homepage') }}" class="btn btn-primary user-go-back-to-homepage" target="_parent">
						Go back to homepage <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
				</div>
			</div>
		{% endfor %}




		<div class="add-new-ad">

			<h4 class="offset-sm-2 col-sm-8">Add new Advertisement</h4>

			<div class="offset-sm-2 col-sm-8">

				{{ form_start(form) }}

				<div class="form-group row">
					{{ form_widget(form.Title) }}
				</div>

				<div class="form-group row">
					{{ form_widget(form.Description) }}
				</div>

				<div class="form-group row">
					<input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Post it now!"/>
				</div>

				{{ form_end(form) }}
			</div>
		</div>

	</div>


{% endblock %}