{% extends 'public/base.html.twig' %}

{% block body %}


	<div class="container text-left">

		<h1>Profile</h1>

		<div class="row">
			<div class="col-lg-2">
				<p><i class="fa fa-user" aria-hidden="true"></i> Username:</p>
			</div>
			<div class="col-lg-10">
				<p class="profile-user-info">{{ app.user.username }}</p>
			</div>

			<div class="col-lg-2">
				<p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email:</p>
			</div>
			<div class="col-lg-10">
				<p class="profile-user-info">{{ app.user.email }}</p>
			</div>

			<div class="col-lg-2">
				<p><i class="fa fa-clock-o" aria-hidden="true"></i> Last Login:</p>
			</div>
			<div class="col-lg-10">
				<p class="profile-user-info"> {{ app.user.lastLogin.date|date("Y-m-d H:i:s") }}</p>
			</div>

			<div class="col-lg-2">
				<p><i class="fa fa-list-ol" aria-hidden="true"></i> Total Ads:</p>
			</div>

			<div class="col-lg-10">
				<p class="profile-user-info"> {{ user_ads|length }} </p>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<h4>Your ads:</h4>
			</div>

			<div class="col-lg-12">

				{% for item in user_ads|reverse %}

					<div class="user-ad-list-item {% if loop.index is odd %}odd{% endif %}">
						<h3>{{ loop.index }}. {{ item.title }}</h3>
						<p class="user-ad-list-item-date">
							<small>{{ item.datetime|date("Y-m-d H:i:s") }}</small>
						</p>
						<p>{{ item.description }}</p>
					</div>

				{% endfor %}

			</div>
		</div>

	</div>

{% endblock %}